<section class="mb-2">
    <div class="mb-1">
        <button class="rounded text-white bg-malachite-800 border-malachite-900 px-3 py-1 border" value="published" form="now" data-turbo="false">Save </button>
    </div>
</section>

<section>
    <a href="{% url "plugin_now:now" %}" class="ml-auto btn-link" target="_new">View on site</a>
</section>
