<div data-controller="meta-map" style="width: 300px" class="inline-block pt-2 md:ml-auto md:pt-0">
    <div id="map"
         class="h-32"
         data-meta-map-target="map"
         data-default-lon="{{ t_location.point.x }}"
         data-default-lat="{{ t_location.point.y }}"
         data-default-zoom="4"
         data-region="{{ t_location.region }}"
         data-country="{{ t_location.country_name }}"
         data-locality="{{ t_location.locality }}"
    ></div>
    <div class="flex mt-2 p-location h-adr">
        <span class="hidden p-latitude">{{ t_location.point.y }}</span>
        <span class="hidden p-longitude">{{ t_location.point.x }}</span>
        <span data-meta-map-target="summary" class="help-text ml-auto p-label">{{ t_location.summary }}</span>
    </div>
</div>