{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %}
    <link href="{% static 'tailwind/style.css' %}" rel="stylesheet">
    <link href="{% static 'trix/trix.css' %}" rel="stylesheet">
    <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"
    />
    {% with request.scheme|add:"://"|add:request.get_host as absolute_url %}
        <link href="{{ absolute_url }}{% url  'indieweb:indieauth_authorize' %}" rel="authorization_endpoint">
        <link href="{{ absolute_url }}{% url  'indieweb:indieauth_token' %}" rel="token_endpoint">
    {% endwith %}
    {% if form %}{{ form.media.css }}{% endif %}
    <title>{{ page_title }} – {{ request.settings.title }} Admin</title>
    <script src="{% static 'trix/trix.js' %}"></script>
    <script src="{% static 'trix/attachments.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body class="bg-bianca-500">
    <div class="">
        <header class="max-w mx-auto p-2">
             <nav  data-controller="reveal">
                <div class="flex">
                    <h1 class="text-negroni-900 text-2xl">
                        <a href="{% url "public:home" %}">
                            {% if request.settings.icon %}
                                <span class="mr-1">{{ request.settings.icon }}</span>
                            {% endif %}{{ request.settings.title }} Admin
                        </a>
                    </h1>
                    <div class="ml-auto pt-2 md:hidden">
                        <button data-reveal-target="button" data-action="click->reveal#toggle">
                            <div class="w-8 bg-negroni-700 h-1"></div>
                            <div class="w-8 bg-negroni-700 h-1 mt-1"></div>
                            <div class="w-8 bg-negroni-700 h-1 mt-1"></div>
                        </button>
                    </div>
                </div>
                <ul data-reveal-target="item" class="mb-2 hidden md:hidden mt-2">
                    <li class="{% if nav == 'dashboard' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url "post:dashboard" %}" data-turbo-frame="_top" data-action="select#click"><span class="mr-1">🏡</span><span>Home</span></a></li>
                    <li class="{% if nav == 'posts' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url "posts" %}" data-turbo-frame="_top" data-action="select#click"><span class="mr-1">✏️</span><span>Posts</span></a></li>
                    <li class="{% if nav == 'trips' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url "trips" %}" data-turbo-frame="_top" data-action="select#click"><span class="mr-1">✈️️</span><span>Trips</span></a></li>
                    <li class="{% if nav == 'files' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url "files" %}" data-turbo-frame="_top" data-action="select#click"><span class="mr-1">🗄️</span><span>Files</span></a></li>
                    <li class="{% if nav == 'plugins' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url "plugins:plugin_list" %}" data-turbo-frame="_top" data-action="select#click"><span class="mr-1">🔌️</span><span>Plugins</span></a></li>

                    <li class="{% if nav == 'settings' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url 'admin:index' %}"><span class="mr-1">⚙️</span><span>Settings</span></a></li>
                </ul>
            </nav>
        </header>
        <div class="md:flex">
            <nav id="section-nav" class="min-w-min p-2 flex flex-col hidden md:block">
                <ul class="mb-2" data-controller="select" data-select-selected-class="selected">
                    <li class="{% if nav == 'dashboard' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url "post:dashboard" %}" data-turbo-frame="_top" data-action="select#click"><span class="mr-1">🏡</span><span>Home</span></a></li>
                    <li class="{% if nav == 'posts' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url "posts" %}" data-turbo-frame="_top" data-action="select#click"><span class="mr-1">✏️</span><span>Posts</span></a></li>
                    <li class="{% if nav == 'trips' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url "trips" %}" data-turbo-frame="_top" data-action="select#click"><span class="mr-1">✈️️</span><span>Trips</span></a></li>
                    <li class="{% if nav == 'files' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url "files" %}" data-turbo-frame="_top" data-action="select#click"><span class="mr-1">🗄️</span><span>Files</span></a></li>
                    <li class="{% if nav == 'plugins' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url "plugins:plugin_list" %}" data-turbo-frame="_top" data-action="select#click"><span class="mr-1">🔌️</span><span>Plugins</span></a></li>
                    <li class="{% if nav == 'settings' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url 'admin:index' %}"><span class="mr-1">⚙️</span><span>Settings</span></a></li>
                </ul>
            </nav>
            {% if nav == "dashboard" %}
                <div class="mx-auto mx-2 grid grid-cols-2 gap-2 md:hidden">
                    <a href="{% url "status_create" %}" data-turbo-frame="_top" class="primary-button"><span class="mr-1">💬</span><span class="hover:underline">New Status</span></a>
                    <a href="{% url "article_create" %}" data-turbo-frame="_top" class="primary-button"><span class="mr-1">✏️</span><span class="hover:underline">New Article</span></a>
                    <a href="{% url "reply_create" %}" data-turbo-frame="_top" class="primary-button"><span class="mr-1">📤️</span><span class="hover:underline">New Reply</span></a>
                    <a href="{% url "bookmark_create" %}" data-turbo-frame="_top" class="primary-button"><span class="mr-1">🔖️</span><span class="hover:underline">New Bookmark</span></a>
                </div>
            {% endif %}
            <div id="content" class="w-11/12 flex flex-col">
                {% block content %}
                {% include "fragments/content.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
