{% load static plugins indieweb %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if title %}{{ title }} - {% endif %}{{ request.settings.title }}</title>
    {% with request.scheme|add:"://"|add:request.get_host as absolute_url %}
    <link rel="alternate" type="application/rss+xml" title="{% if request.settings.icon %}{{ request.settings.icon }} {% endif %}{{ request.settings.title }}" href="{{ absolute_url }}{% url 'feeds:feed' %}">
    {% if stream %}
    <link rel="alternate" type="application/rss+xml" title="{% if request.settings.icon %}{{ request.settings.icon }} {% endif %}{{ request.settings.title }} - {{ stream.name }} Feed" href="{{ absolute_url }}{% url 'feeds:stream_feed' stream.slug %}">
    {% endif %}
    {% render_relme %}
    <link href="{{ absolute_url }}{% url  'indieweb:indieauth_authorize' %}" rel="authorization_endpoint"/>
    <link href="{{ absolute_url }}{% url  'indieweb:indieauth_token' %}" rel="token_endpoint"/>
    <link href="{{ absolute_url }}{% url 'indieweb:micropub' %}" rel="micropub"/>
    <link href="{{ absolute_url }}{% url 'micropub_media' %}" rel="micropub_media"/>
    <link href="{% static "tailwind/style.css" %}" rel="stylesheet"/>
    {% if request.settings.theme %}
        <link href="{% static request.settings.theme|default:"tailwind"|add:"/style.css" %}" rel="stylesheet"/>
    {% endif %}
    <link rel="webmention" href="{{ absolute_url }}{% url "webmention:receive" %}"/>
    {% endwith %}
    <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">
    <script src="{% static 'js/public.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body class="bg-primary">
    <div class="min-h-screen flex flex-col">
        <header class="p-2">
            {% block header %}
            <nav  data-controller="reveal">
                <div class="flex">
                    <h1 class="text-secondary text-2xl">
                        <a href="{% url "public:home" %}">
                            {% if request.settings.icon %}
                                <span class="mr-1">{{ request.settings.icon }}</span>
                            {% endif %}{{ request.settings.title }}
                        </a>
                    </h1>
                    <a href="{% url "public:trips" %}" class="{% if 'trips' in selected %}border-b-4 border-secondary{% endif %} ml-2 leading-8 hidden md:inline-block"><span class="mr-1">✈️</span><span>Trips</span></a>
                    <a href="{% url "public:cluster_map" %}" class="{% if 'maps' in selected %}border-b-4 border-secondary{% endif %} ml-2 leading-8 hidden md:inline-block"><span class="mr-1">🗺️</span><span>Maps</span></a>

                    {% for plugin in request.plugin_pool.enabled_plugins %}
                        {% if plugin.has_public_top_nav %}
                            {% render_plugin plugin.identifier "NAV.TOP" %}
                        {% endif %}
                    {% endfor %}
                    <div class="ml-auto pt-2 md:hidden">
                        <button data-reveal-target="button" data-action="click->reveal#toggle">
                            <div class="w-8 bg-secondary h-1"></div>
                            <div class="w-8 bg-secondary h-1 mt-1"></div>
                            <div class="w-8 bg-secondary h-1 mt-1"></div>
                        </button>
                    </div>
                </div>
                <ul data-reveal-target="item" class="mb-2 hidden md:hidden mt-2">
                    {% if request.user.is_authenticated %}
                        <li class="p-1 mb-2"><a href="{% url "post:dashboard" %}" class="w-full inline-block"><span class="mr-1">🖥</span><span>Dashboard</span></a></li>
                    {% endif %}
                    <li class="{% if 'home' in selected %}border-l-4 border-secondary{% endif %} p-1 mb-2"><a href="{% url "public:home" %}" class="w-full inline-block"><span class="mr-1">🏡</span><span>Home</span></a></li>
                    <li class="{% if 'trips' in selected %}border-l-4 border-secondary{% endif %} p-1 mb-2"><a href="{% url "public:trips" %}" class="w-full inline-block"><span class="mr-1">✈️</span><span>Trips</span></a></li>
                    <li class="{% if 'maps' in selected %}border-l-4 border-secondary{% endif %} p-1 mb-2"><a href="{% url "public:cluster_map" %}" class="w-full inline-block"><span class="mr-1">🗺️</span><span>Maps</span></a></li>
                    {% for plugin in request.plugin_pool.enabled_plugins %}
                        {% if plugin.has_public_top_nav %}
                            {% render_plugin plugin.identifier "NAV.TOP.MOBILE" %}
                        {% endif %}
                    {% endfor %}
                    {% for stream in streams %}
                        <li class="{% if stream.slug in selected %}border-l-4 border-secondary{% endif %} p-1 mb-2"><a href="{% url "public:stream" stream.slug %}" class="w-full inline-block"><span class="mr-1">{{ stream.icon }}</span><span>{{ stream.name }}</span></a></li>
                    {% endfor %}
                </ul>
            </nav>
            {% endblock %}
        </header>
        <div class="md:flex md:flex-grow">
            {% block content_wrapper  %}
                {% block stream_nav %}
                    <nav id="section-nav" class="min-w-min p-2 flex flex-col hidden md:block">
                        <ul class="mb-2">
                            {% if request.user.is_authenticated %}
                                <li class="p-1 mb-2"><a href="{% url "post:dashboard" %}" class=" w-36 p-1 mb-2"><span class="mr-1">🖥</span><span>Dashboard</span></a></li>
                            {% endif %}
                            <li class="{% if 'home' in selected %}selected{% endif %} w-36 p-1 mb-2"><a href="{% url "public:home" %}"><span class="mr-1">🏡</span><span>Home</span></a></li>
                            {% for stream in streams %}
                                <li class="{% if stream.slug in selected %}selected{% endif %} w-36 p-1 mb-2"><a href="{% url "public:stream" stream.slug %}"><span class="mr-1">{{ stream.icon }}</span><span>{{ stream.name }}</span></a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endblock %}
            <div class="flex-col md:w-11/12 md:flex">
                {% block content_before %}{% endblock %}
                <div id="main-container" class="flex-col md:flex">
                    {% block content %}
                        <main id="main" class="main md:w-9/12 max-w-prose md:order-first p-2">
                            {% block breadcrumbs_block %}
                                <nav id="breadcrumbs" class="breadcrumbs pb-2 mb-2">
                                    {% block breadcrumbs %}{% endblock %}
                                </nav>
                            {% endblock %}
                            {% block main %}{% endblock %}
                        </main>
                        {% block meta_section %}
                        <section id="meta" class="meta order-first md:w-3/12 p-2">
                            {% block meta %}{% endblock %}
                        </section>
                        {% endblock %}
                    {% endblock  %}
                </div>
                {% block content_after %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        <footer class="w-full">
            {{ request.settings.footer_snippet|safe }}
        </footer>
    </div>
</body>
</html>
