@tailwind base;
@tailwind components;
@tailwind utilities;


.trix-button-group, .trix-content {
    @apply bg-white;
}

.selected {
    @apply border-r-4 border-negroni-900;
}


.animate-fade-out {
    animation: fade 1s linear 1 forwards;
    animation-delay: 5s;

}

@keyframes fade {
    0% {
        opacity: 1;
        height: auto;
    }
    75% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
}


main.content a, .trix-content a, #messages a {
    @apply underline;
}

main.content ul, .trix-content ul {
    @apply list-disc ml-4;
}

.green-button, .primary-button {
    @apply rounded text-white bg-malachite-800 border-malachite-900 px-3 py-1 border;
}

.outline-button {
    @apply rounded border-negroni-900 text-negroni-800 border px-3 py-1;
}

.input-field {
    @apply appearance-none border border-bianca-800 w-full py-2 px-3 leading-tight focus:outline-none focus:ring-0;
    border-radius: 3px;
}

.input-field[readonly] {
    @apply appearance-none bg-transparent w-full py-2 px-3 leading-tight line-through;
}

.trix-content {
    @apply focus:ring-0 focus:outline-none;
}

.content h1 {
    font-size: 1.2em;
    line-height: 1.2;
}

.help-text {
    @apply text-xs text-bianca-800;
}

details.button-summary {
    @apply rounded text-white bg-malachite-800 border-malachite-900 px-3 py-1 border;
}

details.button-summary > summary::marker {
    display: inline-block;
    color: white;
}

trix-toolbar .trix--button--select-file::before {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%3Cpath%20d%3D%22M21%2019V5c0-1.1-.9-2-2-2H5c-1.1%200-2%20.9-2%202v14c0%201.1.9%202%202%202h14c1.1%200%202-.9%202-2zM8.5%2013.5l2.5%203.01L14.5%2012l4.5%206H5l3.5-4.5z%22/%3E%3C/svg%3E);
    top: 8%;
    bottom: 4%;
}


main.content blockquote {
    @apply border-l-2 border-bianca-600 mb-4 pl-2 max-w-prose;
}