{% load humanize utils %}
{% url 'public:post_detail' t_post.uuid as permalink %}
{% url 'bookmark_edit' t_entry.pk as edit_link %}
{% with t_entry.t_bookmark as t_bookmark %}

<div class="flex-col h-entry">
    <header>
        {% if t_bookmark %}
            <h1 class="p-name text-xl">
                Bookmark of <a href="{{ t_bookmark.u_bookmark_of }}" class="u-bookmark-of {% if t_bookmark.u_bookmark_of != t_bookmark.title %}h-cite{% endif %} inline-block hover:underline" title="{{ t_bookmark.title }}">{{ t_bookmark.title }}</a>
            </h1>
        {% endif %}
        <div>
            <time class="dt-published" datetime="{{ t_post.dt_published.isoformat }}">
            {% ifequal t_post.dt_published|date:"d" now|date:"d" %}
                {{ t_post.dt_published|naturaltime }}
            {% else %}
                {{ t_post.dt_published|date:"M d, Y" }}
            {% endifequal %}
            </time>
            {% include 'author/byline.html' with p_author=t_post.p_author %}
            {% if t_entry.t_location %}
                {% include 'public/fragments/location_link.html' %}
            {% endif %}
        </div>
    </header>
    <main class="e-content mb-2 pt-2 content max-w-prose">
        <blockquote>{{ t_bookmark.quote|linebreaksbr }}</blockquote>
        {{ t_entry.e_content|safe }}
    </main>
    {% include "public/fragments/post_footer.html" %}
</div>
{% endwith %}