{% load humanize utils %}
{% url 'public:post_detail' t_post.uuid as permalink %}
{% url 'status_edit' t_entry.pk as edit_link %}

<div class="flex-col h-entry">
    <header>
        {% if t_entry.p_name%}
            <h1 class="p-name text-2xl">{{ t_entry.p_name }}</h1>
        {% endif %}
        <div class="italic">
            <time class="dt-published" datetime="{{ t_post.dt_published.isoformat }}">
            {% ifequal t_post.dt_published|date:"d" now|date:"d" %}
                {{ t_post.dt_published|naturaltime }}
            {% else %}
                {{ t_post.dt_published|date:"M d, Y" }}
            {% endifequal %}
            </time>
            {% include 'author/byline.html' with p_author=t_post.p_author %}
            {% if t_entry.t_location %}
                {% include 'public/fragments/location_link.html' %}
            {% endif %}
        </div>
    </header>
    <main class="e-content mb-2 pt-2 content">
        {{ t_entry.e_content|safe }}
    </main>
    {% include "public/fragments/post_footer.html" %}
</div>
