{% load humanize utils %}
{% url 'public:post_detail' t_post.uuid as permalink %}
{% url 'reply_edit' t_entry.pk as edit_link %}
{% with t_entry.t_reply as t_reply %}
<div class="flex-col h-entry">
    <header>
        {% if t_reply %}
            <h1 class="p-name text-xl">
                Response to <a href="{{ t_reply.u_in_reply_to }}" class="inline-block hover:underline u-in-reply-to" title="{{ t_reply.title }}">{{ t_reply.title }}</a>
            </h1>
        {% endif %}
        <div>
            <time class="dt-published" datetime="{{ t_post.dt_published.isoformat }}">
            {% ifequal t_post.dt_published|date:"d" now|date:"d" %}
                {{ t_post.dt_published|naturaltime }}
            {% else %}
                {{ t_post.dt_published|date:"M d, Y" }}
            {% endifequal %}
            </time>
            {% include 'author/byline.html' with p_author=t_post.p_author %}
            {% if t_entry.t_location %}
                {% include 'public/fragments/location_link.html' %}
            {% endif %}
        </div>
    </header>
    <main class="e-content mb-2 pt-2 content max-w-prose">
        <blockquote>{{ t_reply.quote|linebreaksbr }}</blockquote>
        {{ t_entry.e_content|safe }}
    </main>
    {% include "public/fragments/post_footer.html" %}
</div>
{% endwith %}