{% load static %}

<form id="entry" action="" method="POST" class="flex-col" data-turbo-frame="_top">
    {{ form.errors }}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% csrf_token %}
    <div>
        <span>Bookmark of "{{ form.title.value }}"</span>
        <span class="block text-xs">{{ form.u_bookmark_of.value|urlize }}</span>
    </div>
    <div class="pt-2">
        {{ form.summary.label }}
        <span class="block help-text">{{ form.summary.help_text }}</span>
        {{ form.summary }}
    </div>
    <div class="pt-2">
        {{ form.e_content.label }}
        <span class="font-serif">
        {{ form.e_content }}
        </span>
        {{ form.media.css }}
    </div>
    <div class="pt-2">
        {{ form.streams.label }}
        <div class="flex">
            {{ form.streams }}
        </div>
    </div>
    {% include "entry/fragments/location_form.html" %}
    {% include "entry/fragments/syndication_form.html" %}
</form>
